<form action="/answer" data-turbo="false">
<label for="question" class="form-label">Ask your coach anything!</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" id="question">
    <button type="submit" value="Ask!" class="btn btn-primary">Ask</button>
    <%# <input type="submit" value="Ask!"> %>
  </div>

</form>
